<job_conf>
    <handlers assign_with="db-skip-locked" />
    <plugins workers="4">
        <plugin id="local" type="runner" load="galaxy.jobs.runners.local:LocalJobRunner"/>
        <plugin id="pulsar_embedded" type="runner" load="galaxy.jobs.runners.pulsar:PulsarEmbeddedJobRunner">
            <param id="pulsar_config">/srv/galaxy/config/pulsar_app.yml</param>
        </plugin>
    </plugins>
    <destinations default="{{ 'docker_dispatch' if _galaxy_jobs_docker else 'local' }}">
        <destination id="local" runner="local"/>
        {% if _galaxy_jobs_docker %}
        <destination id="docker_local" runner="{{ 'pulsar' if _galaxy_jobs_pulsar_embedded else 'local'  }}">
            <param id="docker_enabled">true</param>
            <param id="docker_volumes">$defaults</param>
            <param id="docker_sudo">false</param>
            <param id="docker_net">bridge</param>
            <param id="docker_auto_rm">true</param>
            <param id="docker_set_user"></param>
            <param id="require_container">true</param>
            {% if _galaxy_jobs_pulsar_embedded %}
            <param id="container_monitor_result">callback</param>
            <env id="REQUESTS_CA_BUNDLE">/etc/ssl/certs/ca-certificates.crt</env>
            {% endif %}
        </destination>
        <destination id="docker_dispatch" runner="dynamic">
            <param id="type">docker_dispatch</param>
            <param id="docker_destination_id">docker_local</param>
            <param id="default_destination_id">local</param>
        </destination>
        {% endif %}
    </destinations>
</job_conf>
