runners:
  local:
    load: galaxy.jobs.runners.local:LocalJobRunner
    workers: 4

execution:
  default: {{ _galaxy_default_dispatcher if _galaxy_use_interactive_tools else _galaxy_jobs_default }}
  environments:
    local:
      runner: local

    docker:
      runner: local
      docker_enabled: true
      docker_set_user:
      docker_sudo: false

{% if _galaxy_use_interactive_tools %}
    {{ _galaxy_default_dispatcher }}:
      runner: dynamic
      type: python
      function: {{ _galaxy_default_dispatcher }}
{% endif %}
tools:
  - class: local # these special tools that aren't parameterized for remote execution - expression tools, upload, etc
    environment: local
