global:
  default_inherits: tpvdb_default

destinations:
  singularity:
    runner: local
    max_accepted_cores: {{ tpv_local_max_accepted_cores }}
    max_accepted_mem: {{ tpv_local_max_accepted_mem }}
    scheduling:
      tags:
        - local

{% if _galaxy_has_pulsar %}
{% for pulsar in _galaxy_pulsar_configs_raw %}
{% set env_name = 'remote_' ~ (pulsar.name | default(pulsar.url | replace('https://','') | replace('http://','') | replace('.','-') | replace('/','-'))) %}
  {{ env_name }}:
    id: {{ env_name }}
    inherits: local_singularity
    max_accepted_cores: 8
    max_accepted_mem: 64
    scheduling:
      tags:
        - pulsar
{% endfor %}
{% endif %}

tools:
  default:
    scheduling:
      accept:
        - local
{% if _galaxy_has_pulsar %}
        - pulsar
{% endif %}

{% if _galaxy_has_pulsar and _galaxy_pulsar_tool_mappings | length > 0 %}
{% for m in _galaxy_pulsar_tool_mappings %}
  "{{ m.tool_id }}":
    scheduling:
      prefer:
        - pulsar
{% endfor %}
{% endif %}
