preferences:
{% if _galaxy_ibridges_enabled %}
    irods_yoda:
        description: Your YODA account
        inputs:
            - name: username
              label: Username
              type: text
              required: True
            - name: password
              label: Data Access Password
              type: secret
              required: True
            - name: config
              label: Config
              required: True
              type: text 
{% endif %}
